# === Serveur Web principal
flask[async]==2.3.3


# === Modules de post-exploitation (à utiliser uniquement dans les AGENTS locaux, pas sur Render)
# pynput>=1.7.6
# pyautogui>=0.9.54
# opencv-python>=4.9.0.80

# === Communication & exfiltration
requests>=2.31.0
python-dotenv>=1.0.1
cryptography>=42.0.0
python-telegram-bot==20.7

# === PDF (facultatif - décommente si utilisé)
# weasyprint>=61.0
# fpdf>=1.7.2
pyinstaller==5.13.2
